<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-147433925-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-147433925-2');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">
    <link href="/images/favicon.png" rel="shortcut icon" type="image/png">
    <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | relURL}}" />
    <link rel="stylesheet" href="{{ "/css/flex-slider.css" | relURL}}" />
    <link rel="stylesheet" href="{{ "/css/font-awesome.css" | relURL}}" />
    <link rel="stylesheet" href="{{ "/css/styles.css" | relURL}}" />
    <meta property="og:url"           content="{{.URL}}" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="{{ with .Params.title }}{{ . }}{{ end }}" />
    <meta property="og:description"   content="{{ with .Params.description }}{{ . }}{{ end }}" />
    <meta property="og:image"         content="{{ with .Params.thumbnail }}{{ . }}{{ end }}" />
    <meta property="og:site_name" content="Amazon Digital" />
	  <meta name="description" content="{{ with .Params.description }}{{ . }}{{ end }}"/>
    {{ $title := site.Title }}
    {{ if not .IsHome }}
      {{ $title = printf "%s | %s" .Title site.Title }}
    {{ end }}
    <title>
      {{ $title }}
    </title>
    <!-- include the widget -->
  <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body class="blog-root">
      <div id="fb-root"></div>
      <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0&appId=2682403408439424&autoLogAppEvents=1"></script>
      <!-- ***** Preloader Start ***** -->
    <div id="preloader">
            <div class="jumper">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div> 
    <header>
      <!-- some header -->
      {{ block "header" . }}{{ partial "blog-header.html" .}}{{ end }}
    </header>
    <main>
      {{ block "main" . }}{{ end }}
      
      <section style="display:none;" class="section" id="blog">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">Blog Digital</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->
            
            <div class="myrow2" id="style-2">
                {{ range .Pages }}
                <div class="blog-item">
                    <div class="blog-post-thumb">
                        <div class="img">
                            <img src="{{ with .Params.image }}{{ . }}{{ end }}" alt="">
                        </div>
                        <div class="blog-content">
                            <h3>
                                    <a href="{{.URL}}">{{.Title}}</a>
                            </h3>
                            <div class="text">
                                    <p>{{.Description}}</p>
                            </div>
                            <a href="{{.URL}}" class="main-button">Read More</a>
                        </div>
                    </div>
                </div>
                {{ end }}
        </div>
    </section>
    <section class="fb-section">
      <div class="fb-share-button" 
        data-href="https://amazondigitalecuador.com{{.URL}}" 
        data-layout="button_count">
      </div>
      <div class="fb-comments" data-href="https://amazondigitalecuador.com" data-width="100%" data-numposts="7"></div>
    </section>
    <!-- ***** Blog End ***** -->
    {{ block "contact" . }}{{ partial "contact.html" .}}{{ end }}
    </main>
    <footer>
      <!-- some footer -->
      {{ block "footer" . }}{{ partial "site-footer.html" .}}{{ end }}
    </footer>
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <!-- jQuery -->
    <script src="/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="/js/scrollreveal.min.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/jquery.counterup.min.js"></script>
    <script src="/js/imgfix.min.js"></script> 
    
    <!-- Global Init -->
    <script src="/js/custom.js"></script>
    <script type="application/ld+json">

      {
    
        "@context": "https://schema.org",
    
        "@type": "BreadcrumbList",
    
        "itemListElement": [{
    
        "@type": "ListItem",
    
        "position": 1,
    
        "item": {
    
          "@id": "https://amazondigitalecuador.com",
    
          "name": "Amazon Digital Ecuador"
    
        }
    
        },{
    
        "@type": "ListItem",
    
        "position": 2,
    
        "item": {
    
          "@id": "{{.URL}}",
    
          "name": "{{ $title }}"
    
        }
    
        }]
    
      }
      </script>	
  </body>
</html>
