<header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="/#" class="logo">
                            <img src="/images/amazondigital.svg" alt="Amazon Digital"/>
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="#welcome" class="active">Inicio    </a></li>
                            <li><a href="#features">Nosotros</a></li>
                            <li><a href="#testimonials">Clientes</a></li>
                            <li><a href="#pricing-plans">Precios</a></li>
                            <li><a href="#blog">Blog</a></li>
                            <li><a href="#contact-us">Contacto</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>